<div class="comment" style="display: flex; background-color:gray; border-radius: 15px; margin-bot: 5%;">
    <img src="{{ asset('default.png') }}" style="height:40px; width:auto; border-radius:20px;">
    <div style="display:flex; flex-direction:column;">
        <div>Username</div>
        <div>{{ c.description }}</div>
        <div>{{ c.date|date('Y-m-d') }}</div>
    </div>
</div>