{% extends 'front.html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block body %}
    <h1>Modifier Produit</h1>

    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Modifier') }}</button>
    {{ form_end(form) }}

{% endblock %}
