<form method="post" action="{{ path('app_reclamation_category_delete', {'id': reclamation_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation_category.id) }}">
    <button class="btn">Delete</button>
</form>
